{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react", "react-native"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-native/all"
  ],
  "rules": {
    "strict": [2, "never"],
    "indent": ["error", "tab"],
    "quotes": ["error", "single"],
    "no-console": 0,
    "class-methods-use-this": 2,
    "max-len": [2, 120, 4],
    "no-trailing-spaces": 2
  }
}
